.d-flex.justify-content-between.align-items-center.mb-3
  %div
    != $admin_filters_panel
  %div
    != $admin_new_link
.row.g-3
  .col
    #admin-index
      != $admin_index_body
  != $admin_index_sidebar
